<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Altayer_Customcatalog::product" title="Customcatalog" translate="title"
             module="Altayer_Customcatalog" parent="Magento_Catalog::inventory" sortOrder="30"
             action="customcatalog/product/index" resource="Altayer_Customcatalog::product"/>
    </menu>
</config>